.env
.env.*
!.env.example
!.env.staging.example

storage/logs/*.log
storage/logs/*.log.gz
storage/tmp/
storage/cache/

android/.gradle/
android/**/build/

# Composer
/vendor/
composer.lock

# PHPUnit
.phpunit.cache/
.phpunit.result.cache
